//                                                            ••••••••••••••
//                                                         ••••••••••••••••••••
//            handcrafted•••••                           •••••             ••••••
//        •with•love•&•care•by•           ••••         •••••                  •••••
//     JWT•A•M           •••••          ••••          ••••                     •••••
//   C•J••              •••••          ••••          ••••                       •••••
//  JJC•               •••••          ••••          ••••                        •••••
// CME•               •••••          ••••          ••••                         ••••
//  GSR•             •••••          ••••          ••••
//   NRT•••         •••••          ••••          ••••
//     CJS••       •••••          ••••          ••••
//       JMS      •••••          ••••          ••••
//                ••••          ••••          ••••
//               ••••          •••••         ••••
//               ••••        •••••••        ••••
//               •••••    •••2015••••     •••••
//                •Whitelabel•   •wlabel.co••
//                  •••••••       ••••••••

// BASE
//  Variables
//  Generics, Utilities, & Consolidations
//  Resets
//  Webfonts

// LAYOUT
//  Header Structure
//  Footer Structure
//  Headings
//  Forms
//  Lists
//  Pagination

// MODULES
//  Page Specific

// RESPONSIVE
//  Only Computer - No tablet or below
//  Only Tablet & Above - No Mobile Phone
//  Primary Mobile - Tablet & Below
//  Secondary Mobile - Phone & Below
//  iPad Only
//  iPhone Only

// Themes
//  If Applicable

/*! WORDPRESS THEME INFO
Theme Name: 
Author: Whitelabel
Description:
*/

// BASE
// ----------------------------------------------------------------------------------------------------

// Variables

// Responsive
$large-screen: 1280px;
$tablet: 1024px;
$big-phone: 840px;
$phone: 680px;

// Structures
$navigation-width: 278px;
$mobile-navigation-width: 92.5%;
$drawer-width: 380px;
$short-input: 30%;
$structures-min-height: 100vh;

// Color
$background: #0D1B35; // Primary background color
$foreground: #F9F9FA;
$border-color: #E0F1F3;
$brand: #489ED2;
$callout: $brand-ter;
$callout-hover:  #6fCEC1;
$default: #000000;
$error: #C46A5E;
$error-hover: lighten($error, 2.5%);
$link: #4a638b;
$type: #6D7583;
$type-alt: #C1C3C8;
$white: #FFFFFF;
$shadow: rgba($background, 0.1);

// Space
$base: 16px;
$tablet-base: 15px;
$phone-base: 15px;

$space: 2rem;
$half-space: $space / 2;
$double-space: $space * 2;
$minor-space: 1.250rem;
$double-minor-space: $minor-space * 2;
$micro-space: 0.750rem;
$nano-space: $micro-space / 2;

// Fonts
$font: "";
$font-italic: "";
$font-light: "";
$font-medium: "";
$font-bold: "";
$font-bold-italic: "";
$font-stack: ;

// Misc
$animate-time: 0.2s;
$border-radius: 0.250em;

// Base Imports
@import "base/utilities";
@import "base/resets";
@import "base/generics";
@import "base/modbox";
@import "base/fonts";
@import "base/icons";

// LAYOUT - Global Structure
// ----------------------------------------------------------------------------------------------------
@import "layout/global";
@import "layout/content";

// Header Structure
@import "layout/header";
@import "shared/modules/logo";
@import "shared/modules/menu-button";
@import "layout/navigation";
@import "layout/flash";

// Footer Structure
@import "layout/footer";

// Headings
@import "layout/headings";

// Forms
@import "layout/forms";
@import "modules/form-section";
@import "modules/search-form";

@import "modules/section-header";

// Lists
@import "modules/object-list";
@import "modules/empty-list";
@import "modules/drawer";

// Pagination
@import "modules/pagination";

// MODULES - Page Specific
// ----------------------------------------------------------------------------------------------------

// Override Utilities
@import "base/override-utilities";

// RESPONSIVE
// ----------------------------------------------------------------------------------------------------

// Only Computer - No tablet or below
// @media screen and (min-width: $tablet) {} // End Only Computer

// Only Tablet & Above - No Mobile Phone
// @media screen and (min-width: $phone) {} // End Tablet & Above

// Primary Mobile - Tablet & Below
// @media screen and (max-width: $tablet) {} // End Tablet & Below

// Secondary Mobile - Phone & Below
// @media screen and (max-width: $phone) {} // End Phone & Below

// iPad Only
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {} // End iPad Only

// iPhone Only
// @media only screen and (max-device-width: 480px) {} // End iPhone Only
