.app {
  @include full-box(table);
  min-height: $structures-min-height;

  &.menu-open {
    overflow: hidden;
  } // End .menu-open

  &-content {
    @include full-box;
    min-height: $structures-min-height;
    overflow: hidden;

    section {
      min-height: $structures-min-height;
    }

    > section:first-of-type {
      box-shadow: 0 1px 1px $shadow inset;
    }
  }

  &-header {
    @include full-box(table);
    padding: 0 5%;

    // Only Computer - No tablet or below
    @media screen and (min-width: $tablet + 1px) {
      background-color: $foreground;
    } // End Only Computer

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      float: right;
      padding-left: 0;
      width: auto;
    } // End Tablet & Below

    nav {
      @include better-box;
      float: right;
    }

    a {
      @include nav-link;
      @include better-box(table);
      padding: $minor-space;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        color: $foreground;
      } // End Tablet & Below

      &:last-of-type {
        padding-right: 0;
      }

      span {
        float: left;
        line-height: 148%;
        margin-right: $nano-space;

        // Big Phone
        @media screen and (max-width: $big-phone) {
          display: none;
        } // End Big Phone
      } // End span

      svg {
        @include better-box();
        float: right;
        height: 1.25em;
        width: 1.25em;

        &, use {
          fill: rgba($type, 0.5);

          // Primary Mobile - Tablet & Below
          @media screen and (max-width: $tablet) {
            fill: $foreground;
          } // End Tablet & Below
        }
      } // End svg

      &:hover {
        // Only Computer - No tablet or below
        @media screen and (min-width: $tablet) {
          color: $type;
        } // End Only Computer

        svg {
          &, use {
            // Only Computer - No tablet or below
            @media screen and (min-width: $tablet) {
              fill: $type;
            } // End Only Computer
          }
        } // End svg
      } // End &:hover
    } // End a
  } // End &-header

  &-subheader {
    @include full-box(table);
    background-image: linear-gradient(to right, $brand, $brand-alt);
    color: rgba($white, 0.5);
    padding: $double-space 5%;
    text-align: center;

    &.alt {
      background-image: linear-gradient(to right, $brand-alt, $brand-ter);
    }

    h2 {
      color: $white;
      margin-bottom: $nano-space;
    }

    p {
      margin: 0 auto;
      max-width: 680px;
    }
  } // End &-subheader
} // End .app
